.transaction-list{
    margin-top: 20px;
}

.transaction-item{
    border-radius: 10px;
    margin: 20px;
    border: 1px solid #f2f2f2;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.1);
    padding: 5px;
    position:relative;
}

.transaction-delete{
    position:absolute;
    right:0px;
    top:0px;
    background: none;
    border:none;
    border-radius: 50%;
    color: #d9c7c7;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}
.transaction-delete:active{
    color: #d61818;
    background: none;
    border:none;
}