.transaction-list {
  margin-top: 20px;
  max-height: 75vh;
  overflow-y: scroll;
}

.transaction-item {
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 20px 10px;
  border: 1px solid #f2f2f2;
  box-shadow: 3px 3px 5px rgba(50, 50, 50, 0.1);
  padding: 5px;
  position: relative;
}

.transaction-item img {
  margin-left: 10px;
  margin-right: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgb(243, 235, 235);
  padding: 10px;
  box-sizing: border-box;
}

.transaction-item__list {
  margin-left: 15px;
}

img.transaction-delete{
  position: absolute;
  width: 30px;
  height: 30px;
  right: -5px;
  top: 0px;
  border: none;
  margin-right: 7px;
  padding:2px;
  cursor: pointer;
  margin-top:3px;
}

img.transaction-edit{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 0px;
  padding:1px;
  border: none;
  cursor: pointer;
  margin-right: 16px;
  margin-top:3px;
}


.transaction-delete:active ,
.transaction-edit:active,
.transaction-item__list_edit:active,
.transaction-item__list_delete:active {
  color:none;
  background: none;
  border: none;
}

.transaction-item__list_delete,
.transaction-item__list_edit {
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0px;
  top: 0px;
}

