
.addFrom-container {
    max-width: 480px;
    padding : 10px;
    margin: 10px 30px;
    border: #90ccc2 solid 4px;
    border-radius: 4px;
}

.transaction-form{
    display:grid;
    grid-template-columns: repeat(2,minmax(120px ,2fr));
    grid-template-rows: repeat(2, 1fr);;
}
.sub-button{
    width:150px;
    margin:5px;
}

input,select{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgb(162, 160, 160);
    border-radius: 4px;
}

.transaction-form label{
    border-bottom: 2px gray solid;
    margin: 20px 10px;
    padding:5px;
}

button {
    background: none;
    border: 2px solid #1f7597;
    padding: 6px 12px;
    border-radius: 4px;
    color: #1f7597;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:active {
    border: 2px solid #3b4f55;
    background: #3b4f55;
    color: #fff;
  }


@media (max-width:1200px) {
    /* .transaction-form{
        width:80%;
    } */
    .transaction{
        width:80%;
        display: flex;
        justify-content: center;
    }
    .transaction-form label{
        margin: 20px 5px;
    }
    .addFrom-container {
        margin: 10px;    
        padding : 5px;

    }
}


@media (max-width:600px) {
    .transaction{
        width:80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;;
    }
    input{
        width:90%;
    }
} 