
.home {
  max-width: 1200px;
  margin: 10px auto;
  max-height: fit-content;
  overflow-x: hidden;
  margin-top:-5px;  
  /* justify-content: center; */
}

.Chart-container {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 100%;
}

.Chart-container_chart {
  width: 780px;
  padding: 5px;
  margin: 0px auto;
  position: relative;
  max-height: fit-content;
}

.Dounutchart-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px auto 5px 0px;
  max-width: 850px;
  
}

.Barchart-container {
  position: relative;
  margin: 5px auto 5px 0px;
  justify-content: center;
  height: 350px;
  overflow-x: scroll;
  max-width: 850px; 
}

.list-container {
  width: 360px;
  max-height: fit-content;
  margin: 3px auto;
  padding: 10px;
}

@media (max-width: 1200px) {
  .Barchart-container {
    flex-wrap: wrap;
  }
  .Chart-container_chart {
    max-width: 100%;
  }
  .list-container{
    margin-bottom: auto;
    height:min-content;
  }
}
