.chart-filter {
    margin: 5px auto;
  }

  .chart-filter nav {
    display: flex;

    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
  }

  .chart-filter p {
    font-size: 20px;
    color:blue;
    font-weight:bold;
    margin-right: 10px;
  }
  .chart-filter button {
    margin-right:5px;
    font-size: 16px;
    font-weight: bold;
    border-right: 2px solid #ede7e7;
    border-left:none;
    border-top:none;
    border-bottom: none;
    background: none;
    border-radius: 0px;
  }

  .chart-filter button.active {
    color: red;
  } 

  .chart-filter button:hover {
    color:red;
    border-right: 2px solid #ede7e7;
    background: none;
    border-left:none;
    border-top:none;
    border-bottom: none;
  }

  @media(max-width:800px){
      
  .chart-filter nav {
      margin-left:5px;
      padding: 5px;
      justify-content: center;
  }
  .chart-filter button {
      padding:5px;
  }
  .chart-filter p {
      font-size: 18px;
    margin-right: 2px;
  }

  }