.Income {
  background: white;
  border: rgb(224, 222, 222) solid 2px;
  border-radius: 4%;
  height: fit-content;
  margin: 10px auto;
  padding: 5px;
  color: green;
}

.Expend {
  background: white;
  border: rgb(224, 222, 222) solid 2px;
  border-radius: 4%;
  height: fit-content;
  margin: 10px auto;
  padding: 5px;
  color: red;
}

header.title {
  margin: 5px auto;
}

.emptyarray{
  height:300px;
  line-height: 300px;
  text-align: center;
}