.Income{
    Background:white;
    border: rgb(224, 222, 222) solid 2px;
    border-radius: 4%;
    height: fit-content;
    margin:10px 30px 5px 30px;
    padding: 5px;
    color:green;
    /* width:200px; */
}

.Expend{
    Background:white;
    border: rgb(224, 222, 222) solid 2px;
    border-radius: 4%;
    height: fit-content;
    margin:10px 30px 5px 30px;
    padding: 5px;
    color:red
}

.title{
    font-size: h3;
}