div.Sidecalendar {
  max-width: 480px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.Sidecalendar-header {
  display: flex;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  align-items: center;
  justify-content: space-between;
}
.Slidecalendar-header_button {
  align-items: center;
  background: none;
  border: none;
  padding: 6px 6px;
  border-radius: 50%;
  cursor: pointer;
}

.cal_main {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(2, 50px);
  font-weight: bold;
}

.cal_main span {
  margin: auto;
}

.Slidecalendar-header_button {
  background: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.Slidecalendar-header_button:active {
  border: none;
  background: none;
  color: none;
}

.weekdays-container {
  border: none;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.weekdays {
  width: 90%;
  padding: 12px 6px;
  background: none;
  border: none;
  border-radius: 50%;
  background-color: rgb(226, 241, 232);
  color: #1f7597;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.weekdays:active {
  background-color: rgb(135, 200, 130);
  border: none;
}

#total {
  font-size: 12px;
  position: absolute;
  bottom: -7px;
  left: 0px;
  right: 0px;
  color: rgb(226, 201, 57);
}

.search-container{
  display: flex;
  max-width: 480px;
  max-height:20px;
  border: rgb(197, 199, 201) solid 2px;
  border-radius: 30px;
  background-color:rgba(234, 234, 234, 0.2);
  align-items: center;
  padding:5px
}

.search-container input{
  background:transparent;
  border: none;
  background-color: none;
  outline: none;
  color:#cbcbd0
}

img.arrow {
  background-color: rgb(55, 98, 138);
  border-radius: 50%;
}
img.arrow:active {
  background-color: rgba(121, 217, 226, 0.838);
}

::placeholder{
  color:#cbcbd0
}

.search-container button img{
  width:25px;
}

.search-container button{
  border:0;
  border-radius: 50%;
  width:35px;
  height:35px;
  padding: 0;
}
