.list center{
    display:flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    max-width: 1200px;
    margin:0 auto;
}

.list{
    width:100%;
}


@media (max-width:1200px) {
    .center{
        width:80%;
    }

}