@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* base styles */
body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 1.1em;
  overflow-x: hidden;
  position: relative;
  max-height: fit-content;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.btn {
  background: none;
  border: 2px solid #1f7597;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f7597;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background: #1f7f97;
  color: #fff;
}

.bg {
  position: absolute;
  top: 0px;
  width: 100%;
  background: rgb(232, 239, 237);
  z-index: -999;
}
.bg main {
  max-width: 1200px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0 2rem;
}

.first-title {
  margin-top: 50px;
}
.login-form,
.signup-form {
  width: 360px;
}

.signup-form label,
.login-form label {
  display: block;
  display: flex;
  margin: 30px auto;
}

.login-form span,
.signup-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form input,
.signup-form input {
  padding: 8px 10px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(162, 160, 160);
  border-radius: 25px;
}

.demo-container {
  padding: 20px;
  margin: 40px 5px;
}
.loginform-container,
.signupform-container {
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 40px 10px;
}

.demo-container img {
  border-radius: 0%;
  height: 200px;
  margin: 20px 5px;
}

.lg-title {
  color: #333;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin: 0px auto;
  text-shadow: 1px 1px 2px rgb(31, 32, 31);
}

.lg-discribe {
  margin-top: 5px;
  font-size: 20px;
  color: rgb(194, 189, 183);
}

.avatar {
  height: 100px;
}

.i {
  color: #9d9c9c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.lg-btn{
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
  background-size: 200%;
  font-size: 1.2rem;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 1rem 0;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.lg-btn a{
  display: block;
  width:100%
}

.lg-btn:hover {
  background-position: right;
}

.error {
  color: red;
  background: pink;
  border: 3px solid red;
  border-radius: 25px;
  padding: 8px;
  margin: 10px 0;
}

.analysis img {
  display: block;
  margin: 0px auto;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1230px) {
  .demo img {
    display: block;
    width: 45%;
    margin: 10px auto;
  }
}

@media (max-width: 1000px) {
  .demo-container img {
    width: 80%;
  }
  .loginform-container,
  .signupform-container {
    margin: 30px auto;
  }
}

@media (max-width: 800px) {
  .bg main {
    grid-template-columns: 1fr;
    padding: 0rem;
  }
  .demo-container {
    display: none;
  }
  .loginform-container,
  .signupform-container {
    width: 300px;
  }
}
