@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* base styles */
body {
  font-family: "Varela Round", sans-serif;
  margin: 0;
  font-size: 1.1em;
  overflow-x: hidden;
  position: relative;
  max-height: fit-content;
}

ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

.btn {
  background: none;
  border: 2px solid #1f7597;
  padding: 6px 12px;
  border-radius: 4px;
  color: #1f7597;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background: #1f7f97;
  color: #fff;
}

.signup-form,
.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 3px;
  border:#1f7f97 solid 4px;
  background-color: #eef8fb;
}

.error {
  color: red;
  background: pink;
  border: 3px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}

::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar {
  display: none;
}

@media screen and(max-width:600px) {
  .container {
    width: 100%;
  }
}
